.git
.grunt
.idea
.install
.ipynb_checkpoints
.local
.mypy_cache
.obfuscated
.pytest_cache
.pytest_cache
.python-version
.tern-port
.venv
.virtualenv
.vscode
TAGS
__pycache__/*
__version__.py
_media
_regtest_outputs
_tmp
airflow.cfg
airflow/*
cprofile.txt
drop-dbscoring-data
dump
htmlcov
logs/*
nohup.out
packer
reports
setuptools*
tags
test.py
unittests.cfg
venv
