__pycache__/*
__version__.py
_media
_regtest_outputs
_tmp
.#*
.DS_Store
.bash_history
.bookmarks
.cache
.coverage
.coverage.*
.eslintcache
.git
.grunt
.idea
.install
.invoke
.ipynb_checkpoints
.local
.mypy_cache
.minio.sys
.obfuscated
.pytest_cache
.pytest_cache
.python-version
.tern-port
.venv
.virtualenv
.vscode
*.env.json
*.log
*.pid
*.pyc
*.sublime-project
*.sublime-workspace
*.swp
*~
logs/*
nohup.out
node_modules
reports
venv
.envrc

_build
build/
dist/
.coverage
.tox
*.egg-info
*.py[cod]
src/
htmlcov
coverage.xml
.cache